* {
    box-sizing: border-box;
  }
  
  /* Add a gray background color with some padding */
  body {
    color: #003453;
    font-family: 'Montserrat', sans-serif;
    /* padding: 20px; */
    /* background: #f1f1f1; */
  }
  
  /* Header/Blog Title */
  header1 {
margin-top: 10%;
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: rgb(86,117,130,0.4)
    ;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 65%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* image */
  .img {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
     background-color: rgb(86,117,130,0.4);
     padding: 20px;
     margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 10px;
        padding-right: 1%;
        padding-left: 1%;
    }
    .social-media{
        display: flex;
        flex-direction: row;
    }
}
