#cv { 
    margin-top: 90px;
    margin-bottom: 90px;
    height: 800px;
    /* position: relative; */
        /* border: 1px solid red; */
}

#cv .containerpdf {
    max-width: auto;
    height: 100%;
    position: relative; 
	float: center;
    /* border: 1px solid red; */
}

 #cv h4 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #003453;
    font-family: 'Montserrat', sans-serif;
    font-weight: 2;
    max-width: 500px;
    min-width: 200px;
    padding-left: 160px;
 }



embed {
    width: 70%;
    height: 95%;
    margin: auto;
    background:  rgb(86,117,130,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-attachment: scroll;
}



